CONFIG_TARGET_ipq807x=y
#
# aarch64
#
CONFIG_TARGET_ipq807x_generic=y
CONFIG_TARGET_ipq807x_generic_QSDK_Premium=y
#
# arm
#
# CONFIG_TARGET_ipq807x_ipq807x_32 is not set
# CONFIG_TARGET_ipq807x_ipq807x_32_QSDK_Premium is not set


CONFIG_IB=y
CONFIG_IB_STANDALONE=y
# CONFIG_IMAGEOPT=y
# CONFIG_VERSIONOPT=y
# CONFIG_VERSION_REPO="https://downloads.immortalwrt.org/releases/24.10.1"

CONFIG_LUCI_LANG_zh_Hans=y
#
# Package
#
CONFIG_PACKAGE_ipq-wifi-redmi_ax6=y
CONFIG_PACKAGE_kmod-qca-nss-dp=y
CONFIG_PACKAGE_kmod-qca-nss-drv=y
# CONFIG_PACKAGE_kmod-qca-nss-fls is not set
#
# turboacc
#
CONFIG_PACKAGE_TURBOACC_INCLUDE_NO_FASTPATH=y
# CONFIG_PACKAGE_TURBOACC_INCLUDE_FLOW_OFFLOADING is not set
# CONFIG_PACKAGE_TURBOACC_INCLUDE_FAST_CLASSIFIER is not set
# CONFIG_PACKAGE_TURBOACC_INCLUDE_SHORTCUT_FE_CM is not set
CONFIG_PACKAGE_TURBOACC_INCLUDE_BBR_CCA=y
