CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_phicomm_k2p=y

#
# imagebuild
#
CONFIG_IB=y
CONFIG_IB_STANDALONE=y


CONFIG_PACKAGE_htop=m
CONFIG_PACKAGE_luci-theme-argon=m
CONFIG_PACKAGE_luci-app-argon-config=m
CONFIG_PACKAGE_luci-i18n-argon-config-zh-cn=m
CONFIG_PACKAGE_miniupnpc=m
CONFIG_PACKAGE_wpad-mbedtls=m
CONFIG_PACKAGE_zoneinfo-asia=m
